#navbar h3 {
  font-size: 1.2rem;
  float: none;
  text-align: center;
  border-bottom: 1px #888 solid;
  padding: 15px;
}
#navbar ul,
#navbar ul li {
  float: none;
  border-bottom: 1px #888 solid;
}
#navbar ul:last-child,
#navbar ul li:last-child {
  border-bottom: none;
}

#navbar ul li a {
  padding: 5px;
}

#showcase .showcase-content p {
  line-height: 1.2em;
}
#home-info .info-img {
  display: none;
}
#home-info {
  height: 100%;
}
#home-info .info-content {
  width: 100%;
  float: none;
  overflow: auto;
}
#home-info #info-content a {
  padding-bottom: 30px;
}
.box {
  float: none;
  width: 100%;
}
#about-info .info-left,
#about-info .info-right img {
  float: none;
  width: 100%;
}
#about-info .info-right,
#about-info .info-right img {
  margin: 0;
  width: 100%;
  border-radius: 0px;
}
.container {
  text-align: center;
}
#testimonials {
  background: url(/img/test.jpg) no-repeat center center/cover;
  height: 100%;
}
#testimonials .testimonial img {
  float: none;
}
#showcase .showcase-content {
  text-align: center;
  padding-top: 70px;
}

#contact-form {
  height: 100%;
  padding: 30px;
}
